dash
dash-bootstrap-components
pandas
numpy
plotly
xlsxwriter
gunicorn  # For production server
google-auth  # For Google OAuth2 credentials
google-api-python-client  # For using Google API (e.g., Google Sheets, Drive, etc.)
openpyxl
pyotp
pyzbar
Pillow
opencv-python-headless
gspread
oauth2client
beautifulsoup4  # For parsing HTML with BeautifulSoup
requests  # For making HTTP requests